
    .form-check-label {
        padding-top: 7px;
    }
    .bootstrap-select > .btn {
        height: 32px;      
        padding-bottom: 24px;
        padding-top: 3px;
        font-size:11pt;
    } 




