
.hand {
    cursor: pointer;
}
.h_title {
    text-align: center;
}
.modal-dialog .form-control , .col-form-label  {
    font-size: 9pt;
}
.modal-dialog  .col-form-label  {
    font-size: 9pt;
}
.modal-dialog .table th, .modal-dialog .table td {
    padding: 5px;
}

